.l-island {
    margin-bottom: 20px;
}

.router-link-active {
    color: #ffffff;
    background-color: #2196f3;
    border-color: transparent
}

.router-link-active:focus, .router-link-active.focus {
    color: #ffffff;
    background-color: #0c7cd5;
    border-color: rgba(0, 0, 0, 0)
}

.router-link-active:hover {
    color: #ffffff;
    background-color: #0c7cd5;
    border-color: rgba(0, 0, 0, 0)
}

.items .col-xs-3:nth-of-type(4n+1) {
    clear: left;
}

.items .col-xs-4:nth-of-type(3n+1) {
    clear: left;
}
.item {
    position: relative;
}
.item .edit {
    position: absolute;
    top: 10px;
    right: 10px;
}

.item .editing {
    padding: 15px 10px 0;
}

.item .editing input {
    margin-bottom: 10px;
}

.btn {
    text-transform: uppercase;
}